<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/about.css">
    <title>{{title}}</title>
</head>
<body>
    {% include 'header.html' %}
    {% include 'navigation.html' %}
    <div id="container">
        <div id="about-title">
            <h2>ABOUT</h2>
        </div>
        <div class="about-container">
            <div class="about-wrap">
                <div id="aboutus-wrap">
                    <a href="/about/aboutus" id="aboutus">ABOUT US</a>
                </div>
                <div id="study-wrap">
                    <a href="/about/study" id="study">STUDY ABROAD</a>
                </div>
                <div id="qa-wrap">
                    <a href="/about/qna" id="qa">Q&A</a>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
</body>
</html>