<footer id="main-footer">
    <div id="footer-back">
        <div>
            <span id="hotelyj">HOTEL YJ&nbsp;&nbsp;&nbsp;</span>
            <span id="fukuoka">FUKUOKA</span>
        </div>
        <div>
            <span id="followus">FOLLOW US&nbsp;</span>
        </div>
        <div id="sns">
            <span><img src="/icons8-facebook-64.png" width="30px" height="30px" alt=""></span>
            <span><img src="/icons8-instagram-64.png" width="30px" height="30px" alt=""></span>
            <span><img src="/icons8-twitter-64.png" width="30px" height="30px" alt=""></span>
        </div>
        <div>
            <span class="copyrights">6조&nbsp;&nbsp;조장&nbsp;박소윤&nbsp;&nbsp;조원&nbsp;김동겸&nbsp;김인수&nbsp;박태겸&nbsp;엄주호&nbsp;정형교</span>
        </div>
        <div>
            <span class="copyrights">&nbsp;Copyright ⓒ 2022 YJ HOTELS Co. All rights reserved.</span>
        </div>
        <div>
            <span><img src="/hotelyj.png" width="60px" alt=""></span>
        </div>
    </div>
</footer>