{% extends "layout.html" %}
{% block content %}
<h2 id="studyabroad">STUDY ABROAD PROGRAMME - JAPAN</h2>
<p id="japan">일본 현지 학기제</p>
<ul id="ul-container">
  <li><a href="/about/study/review">현지 학기제 후기</a></li>
</ul>
<div id="video">
  <iframe width="1500px" height="1000px" src="https://www.youtube.com/embed/cCUGZpVe-kU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}