<nav id="main-navigation">
    <div class="menu">
        <ul class="outer-menu">
            <li class="outer-menu-item">
                <span class="menu-title"><a href="/rooms">ROOMS</a></span>
                <ul class="inner-menu"><a href="/rooms#section1">SUPERIOR</a></ul>
                <ul class="inner-menu"><a href="/rooms#section2">DELUXE</a></ul>
                <ul class="inner-menu"><a href="/rooms#section3">FAMILY</a></ul>
                <ul class="inner-menu"><a href="/rooms#section4">SUITE</a></ul>
            </li>
            <li class="outer-menu-item">
                <span class="menu-title"><a href="/dinings">DINING</a></span>
                <ul class="inner-menu"><a href="/dinings#section1">RESTAURANT</a></ul>
                <ul class="inner-menu"><a href="/dinings#section2">LOUNGE&BAR</a></ul>
                <ul class="inner-menu"><a href="/dinings#section3">CAFE</a></ul>
            </li>
            <li class="outer-menu-item">
                <span class="menu-title"><a href="/facilities">FACILITIES</a></span>
                <ul class="inner-menu"><a href="/facilities#section1">FITNESS</a></ul>
                <ul class="inner-menu"><a href="/facilities#section2">POOL</a></ul>
                <ul class="inner-menu"><a href="/facilities#section3">SAUNA</a></ul>
                <ul class="inner-menu"><a href="/facilities#section4">GIFT SHOP</a></ul>
                <ul class="inner-menu"><a href="/facilities#section5">ENTERTAINMENT</a></ul>
            </li>
            <li class="outer-menu-item">
                <span class="menu-title"><a href="/about">ABOUT</a></span>
                <ul class="inner-menu"><a href="/about/aboutus">ABOUT US</a></ul>
                <ul class="inner-menu"><a href="/about/study">STUDY ABROAD PROGRAMME - JAPAN</a></ul>
                <ul class="inner-menu"><a href="/about/qna">Q&A</a></ul>
            </li>
        </ul>
    </div>
</nav>