<div class="calendar" style="display: none;">
    <table id="checkin">
    <thead>
        <caption id="caption">체크인</caption>
        <tr class="btn-wrap clearfix">
        <th>
            <label id="prev">
                &#60;
            </label>
        </th>
        <th id="current-year-month" colspan="5"></td>
        <th>
            <label id="next">
                &#62;
            </label>
        </th>
        </tr>
        <tr>
            <th class = "sun">Sun</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th class= "sat">Sat</th>
        </tr>
    </thead>
    <tbody id="calendar-body" class="calendar-body"></tbody>
    </table>
    <div id="buttons">
        <button type="button" id="prevbtn" style="display: none;">이전</button>
        <button type="button" id="nextbtn" style="display: none;">다음</button>
    </div>
</div>